.hide_form {
    display: none !important;
}

textarea {
    resize: none;
    height: 40px;
}

.commentp{
    font-size: smaller;
    background-color: cadetblue;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.pointerchange{
    cursor: pointer;
}