{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% include "nav_bar.html" %}

{% include "pagination.html" with page=page_obj %}

{% block greeting %}                        
    <li class="nav-item" >
        <a class="nav-link font-weight-bold" href="{% url 'contact' %}"><i class="fas fa-envelope" style="font-size:20px; padding-right: 4px; color:#2196F3"></i>Contact Us</a>
    </li>
{% endblock greeting %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row navbarbg justify-content-center" >
                    <nav class="navbar navbar-expand-lg navbar-light bg-white" >
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#tmnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="tmnavbarNav">
                            <ul class="nav bg-light nav-pills ">
                                <li class="nav-item ">
                                <a class="nav-link font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" >
                                <a class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                                
                                </li>
                                                        
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                <li class="nav-item" >
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'cr-seal' %}">API Coming Soon</a>
                                </li>
                                
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">View Featured Companies</a>
                                </li>
                                                        
                                <li class="nav-item" id="tm-search-pane" >                            
                                    <form class="form-inline  my-2 my-lg-0" >
                                        <input class="form-control mr-sm-2" type="search" placeholder="search for a business..." aria-label="Search">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </li>
                                
                                            
                            </ul>
                        
                        </div>
                    </nav>
                </div>
                <div class="row mt-2">
                    <div class="col-md-8 ">
                        <div class="row-md mx-auto">
                            
                        <h2 class="h5 px-2 py-2 text-center borderrounded navbarbg">{{post.title}}</h2>
                            <div class="row px-2 py-2 mx-auto ">
                                
                                <div class="col-md  py-2 px-2" >

                                    <img src="{{post.post_image.url}}" class="card-img-top " width="25%" height="25%" alt="post image">
                                    <div class="card-body">
                                        <p style="font-size: 12px;" class="card-text text-justify"><img src="{{post.author.userprofile.profile_picture.url}}" alt="profile_pic" width="30" height="30" class="rounded-circle"> &nbsp; {{post.author.last_name}} {{post.author.first_name}} &nbsp;  on: &nbsp; {{post.created_on}}</p>
                                        <p class="card-text">{{post.content|linebreaks}}</p> 
                                        {% comment %} used to retain paragraphs in the post {% endcomment %}
                                        <p>
                                            {% with comments.count as total_comments %}
                                                <h6 style="font-size: smaller;"><span class="numberbg">{{ total_comments }} comment{{total_comments|pluralize}}</span> &nbsp;&nbsp; <span class=" add_comment pointerchange font-weight-bold text-success"> add comment </span> </h6>
                                            {% endwith %}
                                            
                                        </p>
                                    </div>
                                    <div id="comment_form" class=" hide_form row px-2 py-2 mt-1  mx-4 ">
                                  
                                        <form action="" method="POST">{% csrf_token %}
                                            <div class="row-md">
                                                <div class="col-md">
                                                    You are commenting as <span class="font-weight-bold">{{ request.user }} </span>:
                                                </div>
                                                
                                            </div>
                                            <div class="row-md">
                                                <div class="col-md-4">
                                                    {{ form_comment.content.label }}:
                                                </div>
                                                <div class="col-md">
                                                    {{ form_comment.content }}
                                                </div>
                                            </div>
                                            <div class="row-md">
                                                
                                                <div class="col-md">
                                                    <input class="btn btn-sm btn-info" type="submit" value="Send Comment" >
                                                </div>
                                            </div>
                                            
                                        </form>
                                   
                                    </div>
                                    {% for comment in comments|slice:"::-1" %}
                                    <div class="row px-2 py-2 mt-1 mx-4 ">
                                        
                                            <div class="col-md">   
                                                <p style="font-size:smaller; color:white;" class="commentp">{{ comment.name.last_name }},&nbsp;{{ comment.name.first_name }}&nbsp;on:&nbsp;<span >{{ comment.created }}</span></p>
                                                <p class="px-3">{{ comment.content }}</p>
                                                <p class="mx-3">
                                                    {% with comments.count as total_comments %}
                                                        <h6 style="font-size: smaller;"> &nbsp;&nbsp; <span class="add_comment_reply pointerchange font-weight-bold text-success"> reply </span> </h6>
                                                    {% endwith %}
                                                    
                                                </p>
                                                <p> {% for reply in replies %}
                                                        {% if reply.comment == comment %} {{reply}}
                                                        
                                                        {% endif %}

                                                    {% endfor %}
                                                </p>
                                                
                                                <p>
                                                    <form action="{% url 'reply_comment' post.post_slug comment.id %}" method="POST">{% csrf_token %}
                                                        
                                                        <div class="row-md">
                                                            <div class="col-md-4">
                                                                {{ form_reply.reply.label }}:
                                                            </div>
                                                            <div class="col-md">
                                                                {{ form_reply.reply}}
                                                            </div>
                                                        </div>
                                                        <div class="row-md">
                                                            
                                                            <div class="col-md">
                                                                <input class="btn btn-sm btn-info" type="submit" value="Reply" >
                                                            </div>
                                                        </div>
                                                        
                                                    </form>
                                                </p>
                                            </div>
                                        
                                    </div>
                                    {% empty %}
                                    <div class="row px-2 py-2 mt-1 mx-4 ">
                                        
                                        <div class="col-md">   
                                            <p>No comment for this Blog Post here <span class="add_comment pointerchange font-weight-bold text-success"> add comment </span></p>
                                            
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                    
                                    
                                    
                                </div>
                                
                                    
                            </div>
                            <h6>Similar posts</h6>
                            {% for post in similar_posts %}
                            <p>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </p>
                            {% empty %}
                            There are no similar posts yet.
                            {% endfor %}
                            
                        </div>
                        
                    </div>
                    <div class="col-md-4  mb-2">
                        <h2 class="h5 px-2 py-2 text-center borderrounded navbarbg">Advertise here... Get noticed!</h2>
                            
                    </div>
                    
                </div>
            
            </div>
                    
            
            
        </section>
        {% endblock section %}
        {% block article %}
        
        {% endblock article %}
        