
{% extends 'base.html' %}


{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 mx-auto text-justify">
                <div class="row  justify-content-center ">
                    <nav class="navbarsec borderrounded ">
                        <button class="toggler">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </button>
                        <div class=" mx-auto nav-list-container">
                            <ul class="nav-list flex-row">
                            
                                <li><a class="font-weight-bold" href=" {% url 'index' %} ">Home </a></li>
                                <li><a class="font-weight-bold" href=" {% url 'about' %} ">About Us</a></li>
                                <li><a class="font-weight-bold" href="{% url 'submit_review' %}">Submit Review</a></li>
                                <li><a class="font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a></li>
                                <li><a class="font-weight-bold" href=" {% url 'featured-companies' %}">Featured Companies</a></li>
                                
                                
                            </ul>
                        
                        </div>
                    </nav>
                    
                </div>
                <hr>
                <div class="row ">
                    <div class="col-md-5 mb-5">
                        <div class="card box-shadow" style="width: 23rem;">
                            <img src="{{request.user.userprofile.profile_picture.url}}" class="card-img-top" alt="Profile Pic" height="300px" width="50px">
                            <div class="card-body">
                                <h5 class="card-title">Fullname: &nbsp;{{request.user.last_name}},&nbsp;{{request.user.first_name}}</h5>
                                <p class="card-text">Username: &nbsp;{{request.user.username}}</p>
                                <p class="card-text">Email: &nbsp;{{request.user.email}}</p>
                                <p class="card-text">Phone: {{request.user.userprofile.phone}}</p>
                                <p class="card-text">Location: {{request.user.userprofile.location}}</p>
                                <p class="card-title">Total Companies Reviewed: <span class="numberbg">{{total_companies}}</span></p>
                                <p class="card-title">Total Reviews: <span class="numberbg">{{total_reviews}}</span></p>
                                <a href="{% url 'submit_review' %}" class="btn btn-outline-info btn-sm font-weight-bold">Submit Review</a></br>
                                <p class="card-text"></p>
                                <a href="{% url 'settings_regular' %}" class="btn btn-outline-info btn-sm btn-sm font-weight-bold">Go to Settings</a>
                                <p class="card-text"></p>
                                <a href="{% url 'logoutpage_regular' %}" class="btn btn-outline-info btn-sm font-weight-bold">Logout</a></br>
                            
                            </div>
                        </div>

                    </div>
                    <div class="col-md  mb-2">
                        <div class="row pt-2 mb-2 messagebarbg text-center">
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm_show_mesages"> Show/Hide Messages </button> - <span class="justify-content-right numberbg"> {{total_messages}} </span> </h5>
                            </div>
                            
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Show/Hide Reviews</button> </h5>
                            </div>
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm-companies">Show/Hide Companies</button> </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="px-2 col-md mb-2">
                                
                                    <div   class=" card  box-shadow  mb-3"> 
                                        <div  class=" text-white text-center pt-1 bg-info">
                                            <h5 class="card-title">Private Messages </h5>
                                        </div>
                                        <div id="user_message_div" class="scrollable-div row-md">
                                            {% for message in messages %}
                                                <div class="row-md">
                                                    
                                                    <p class="row-md"><span><b>{{message.subject}}</b> <span class="sentbg"> sent <span class="font-weight-small text-danger"> {{message.date_sent}} </span> </span> <br> 
                                                    {{message.message}}
                                                    </p>
                                                    {% for reply in replies %}
                                                            {% if reply.message == message %}
                                                                <p class="row-md text-right receivedmsgpadding "> {{message.receiver}} <br>  <span class="justify-content-right">{{reply.reply}} <br> <span class="receivedbg"> received <span class=" text-danger"> {{reply.date_sent}} </span> </span></span>  <br> 
                                                                    
                                                                </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <p class="card-text">
                                                            <a href="{%url 'reply_message_user' message.id %}"><span class="text-success">reply</span> </a> 
                                                        </p>
                                                        <hr>
                                                    
                                                </div> 
                                            {% endfor %}
                                            
                                        </div>
                                        <hr>
                                        
                                    </div>
                                
                            </div>
                            
                            
                        </div>
                        
                        
                        <div class="row scrollable-div " id="tm-display-reviews">
                                <div class="col-md mb-2">
                                
                                    <div  class="card text-center box-shadow mb-3"> 
                                        <div class="card-header text-white bg-info">
                                            <h5 class="card-title">Reviews and Responses</h5>
                                        </div>
                                        <div class="row ">
                                            {% for review in reviews %}
                                            <div style="font-size: small;" class="card-body">
                                                <p class="card-text">Company Name: <a class="text-decoration-none" href="{% url 'detail' review.company.id %}">{{review.company}}</a>&nbsp; | &nbsp; {% for item in "12345"|make_list %}
                                                            <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= review.rating %}checked{% endif %}"></span>
                                                            {% endfor %}&nbsp; | &nbsp; likes: {{review.likes}} &nbsp; | &nbsp; <span class="text-danger">Date added: {{ review.date_added }}</span></p>
                                                <p class="card-text">{{review.review_text}}</p>
                                                <p class="card-text"><a class="tm-delete-review btn btn-outline-danger font-weight-bold btn-sm"  href="{%url 'delete_review' review.id %}">Delete review</a>&nbsp; | &nbsp; <a href="{%url 'edit_review' review.id %}"><button class="btn btn-outline-primary font-weight-bold btn-sm">Edit Review</button></a></p>
                                            {% for response in responses %}
                                                {% if response.review == review %}
                                                <p class="card-text bg-light"><span class="font-weight-bold">{{response.user.first_name | capfirst }}&nbsp; replied: &nbsp;</span>{{response.response}} &nbsp; <span class="font-weight-bold"> on: </span> &nbsp; <span class="text-danger"> {{response.date_added}} </span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <p class="card-text"><a href="{% url 'response_user' review.id %}"><span id="tm-respond" class="text-primary font-weight-bold ">reply </span></a></p>
                                                    
                                                <hr>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        
                                    

                                        <div class="row text-center">
                                            {% if page.has_previous%}
                                            <div class="col-md-2">
                                            <a  href="{% url 'profile_regular' %}?page={{page.previous_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-left"></i> </a>
                                            </div>
                                            {% endif %}
                                            
                                            <div  class="col-md-8 font-weight-bold">
                                            <ul style="list-style-type: none;">
                                                
                                            {% for l in  page.paginator.page_range %}
                                            {% if forloop.counter <= 10 %}
                                            <li style="display: inline-block; padding: 0 3px 0 0;"><a style="text-decoration: none;" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            </ul>
                                            </div>
                                            {% if page.has_next %}
                                        
                                            
                                            <div class="col-md-2">
                                                <a href="{% url 'profile_regular' %}?page={{page.next_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-right"></i> </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                
                                </div>
                        
                        </div>
                        
                        <div class="row" id="tm-display-companies">
                                <div class="col-md mb-2">
                                
                                    <div class="box-shadow card scrollable-div  mb-3"> 
                                        <div class="card-header text-center text-white bg-info">
                                            <h5 class="card-title">Reviewed Companies</h5>
                                        </div>
                                        
                                        <div class="card-body mx-5">
                                        {% for company in companies %}
                                            <p class="card-text"><img class="rounded-circle" src="{{company.company_logo.url}}" alt="company_logo" width="50" height="50"> &nbsp; &nbsp; <a class="text-decoration-none" href="{% url 'detail' company.company_slug %}">{{company.company_name}}</a>&nbsp; | &nbsp; {% for item in "12345"|make_list %}
                                                            <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= company.average_rating %}checked{% endif %}"></span>
                                                            {% endfor %} </p>
                                            
                                         {% endfor %}   
                                        </div>
                                        
                                        
                                    </div>
                                
                                </div>
                        
                        </div>
                        
                    
                </div>
                

            </div>
            
        </section>
        {% endblock section %}
               
{% block article %}
        <article class="mt-2 bg-white mx-2">
            
             
                  
    
            
        </article>
        {% endblock article %}


        


        