
{% extends 'base.html' %}


{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row navbarbg justify-content-center ">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#tmnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="tmnavbarNav">
                            <ul class="nav nav-pills bg-light ">
                                <li class="nav-item ">
                                <a class="nav-link font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" >
                                <a class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item" >
                                    <div class="dropdown ">
                                        <button style="color: #007bff;" class="btn dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Reviews
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item font-weight-bold text-primary" href="{% url 'submit_review' %}">Submit Review</a>
                                        <a class="dropdown-item font-weight-bold text-primary" href=" {% url 'browse_review' %} ">Browse Review</a>
                                        </div>
                                    </div>
                                
                                </li>
                                                        
                                
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">View Featured Companies</a>
                                </li>

                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                                        
                                <li class="nav-item" id="tm-search-pane" >                            
                                    <form class="form-inline  my-2 my-lg-0" >
                                        <input class="form-control mr-sm-2" type="search" placeholder="search for a business..." aria-label="Search">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </li>
                                
                                            
                            </ul>
                        
                        </div>
                </nav>
                </div>
                <hr>
                <div class="row mx-2">
                    <div class="col-md-5 mb-2">
                        <div class="card box-shadow" style="width: 23rem;">
                            <img src="{{request.user.userprofile.profile_picture.url}}" class="card-img-top" alt="Profile Pic" height="300px" width="50px">
                            <div class="card-body">
                                <h5 class="card-title">Fullname: &nbsp;{{request.user.last_name}},&nbsp;{{request.user.first_name}}</h5>
                                <p class="card-text">Username: &nbsp;{{request.user.username}}</p>
                                <p class="card-text">Email: &nbsp;{{request.user.email}}</p>
                                <p class="card-text">Phone: {{request.user.userprofile.phone}}</p>
                                <p class="card-text">Location: {{request.user.userprofile.location}}</p>
                                <p class="card-title">Total Companies Reviewed: <span class="numberbg">{{total_companies}}</span></p>
                                <p class="card-title">Total Reviews: <span class="numberbg">{{total_reviews}}</span></p>
                                <a href="{% url 'submit_review' %}" class="btn btn-outline-info btn-sm font-weight-bold">Submit Review</a></br>
                                <p class="card-text"></p>
                                <a href="{% url 'settings_regular' %}" class="btn btn-outline-info btn-sm btn-sm font-weight-bold">Go to Settings</a>
                                <p class="card-text"></p>
                                <a href="{% url 'logoutpage_regular' %}" class="btn btn-outline-info btn-sm font-weight-bold">Logout</a></br>
                            
                            </div>
                        </div>

                    </div>
                    <div class="col-md  mb-2">
                        <div class="row pt-2 messagebarbg">
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm_show_mesages">Show/Hide Your Messages</button> </h5>
                            </div>
                            
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Show/Hide Your Reviews</button> </h5>
                            </div>
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm-companies">Show/Hide Companies</button> </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md mb-2">
                                
                                    <div  class="card  box-shadow  mb-3"> 
                                        <div  class="card-header text-white text-center bg-info">
                                            <h5 class="card-title">Messages - <span class="justify-content-right numberbg"> {{total_messages}} </span> </h5>
                                        </div>
                                        <div id="user_message_div" class="card-body">
                                            {% for message in messages %}
                                                <div class="row-md">
                                                    
                                                    <p class="card-text"><span class="text-left">{{message.subject}} <span class="sentbg"> sent </span></span> <span class="font-weight-small text-danger"> {{message.date_sent}} </span> <br> 
                                                    {{message.message}}
                                                    </p>
                                                    {% for reply in replies %}
                                                            {% if reply.message == message %}
                                                                <p class="card-text sentparabg"><span class="justify-content-right">{{reply.reply}} <span class="sentbg"> sent <span class=" text-danger"> {{reply.date_sent}} </span> </span></span>  <br> 
                                                                    
                                                                </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <p class="card-text">
                                                            <a href="{%url 'reply_message_user' message.id %}"><button class="btn btn-sm btn-success">Reply</button> </a> 
                                                        </p>
                                                    
                                                </div> 
                                            {% endfor %}
                                            
                                        </div>
                                        <hr>
                                        
                                    </div>
                                
                            </div>
                            
                            
                        </div>
                        
                        
                        <div class="row" id="tm-display-reviews">
                                <div class="col-md mb-2">
                                
                                    <div  class="card text-center box-shadow mb-3"> 
                                        <div class="card-header text-white bg-info">
                                            <h5 class="card-title">Details</h5>
                                        </div>
                                        <div class="row ">
                                            {% for review in reviews %}
                                            <div style="font-size: small;" class="card-body">
                                                <p class="card-text">Company Name: <a class="text-decoration-none" href="{% url 'detail' review.company.id %}">{{review.company}}</a>&nbsp; | &nbsp; {% for item in "12345"|make_list %}
                                                            <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= review.rating %}checked{% endif %}"></span>
                                                            {% endfor %}&nbsp; | &nbsp; likes: {{review.likes}} &nbsp; | &nbsp; <span class="text-danger">Date added: {{ review.date_added }}</span></p>
                                                <p class="card-text">{{review.review_text}}</p>
                                                <p class="card-text"><a class="tm-delete-review btn btn-outline-danger font-weight-bold btn-sm"  href="{%url 'delete_review' review.id %}">Delete review</a>&nbsp; | &nbsp; <a href="{%url 'edit_review' review.id %}"><button class="btn btn-outline-primary font-weight-bold btn-sm">Edit Review</button></a></p>
                                            {% for response in responses %}
                                                {% if response.review == review %}
                                                <p class="card-text bg-light"><span class="font-weight-bold">{{response.user.first_name | capfirst }}&nbsp; replied: &nbsp;</span>{{response.response}} &nbsp; <span class="font-weight-bold"> on: </span> &nbsp; <span class="text-danger"> {{response.date_added}} </span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <p class="card-text"><a href="{% url 'response_user' review.id %}"><span id="tm-respond" class="text-primary font-weight-bold ">reply </span></a></p>
                                                    
                                                <hr>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        
                                    

                                        <div class="row text-center">
                                            {% if page.has_previous%}
                                            <div class="col-md-2">
                                            <a  href="{% url 'profile_regular' %}?page={{page.previous_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-left"></i> </a>
                                            </div>
                                            {% endif %}
                                            
                                            <div  class="col-md-8 font-weight-bold">
                                            <ul style="list-style-type: none;">
                                                
                                            {% for l in  page.paginator.page_range %}
                                            {% if forloop.counter <= 10 %}
                                            <li style="display: inline-block; padding: 0 3px 0 0;"><a style="text-decoration: none;" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            </ul>
                                            </div>
                                            {% if page.has_next %}
                                        
                                            
                                            <div class="col-md-2">
                                                <a href="{% url 'profile_regular' %}?page={{page.next_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-right"></i> </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                
                                </div>
                        
                        </div>
                        
                        <div class="row" id="tm-display-companies">
                                <div class="col-md mb-2">
                                
                                    <div class="box-shadow card   mb-3"> 
                                        <div class="card-header text-center text-white bg-info">
                                            <h5 class="card-title">Reviewed Companies</h5>
                                        </div>
                                        
                                        <div class="card-body mx-5">
                                        {% for company in companies %}
                                            <p class="card-text"><img class="rounded-circle" src="{{company.company_logo.url}}" alt="company_logo" width="50" height="50"> &nbsp; &nbsp; <a class="text-decoration-none" href="{% url 'detail' company.id %}">{{company.company_name}}</a>&nbsp; | &nbsp; {% for item in "12345"|make_list %}
                                                            <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= company.average_rating %}checked{% endif %}"></span>
                                                            {% endfor %} </p>
                                            
                                         {% endfor %}   
                                        </div>
                                        
                                        
                                    </div>
                                
                                </div>
                        
                        </div>
                        
                    
                </div>
                

            </div>
            
        </section>
        {% endblock section %}
               
{% block article %}
        <article class="mt-2 bg-white mx-2">
            
             
                  
    
            
        </article>
        {% endblock article %}


        


        