{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row">
                    <span class="font-weight-bold px-2 py-1 mx-auto text-danger">...Created with<span class="h3"> &hearts;</span>... Because we understand that behind every review, there is a hearty experience...</span>
                </div>
                <div class="row">
                    
                        <div class="tm-nav  navbar-expand-lg col-md-2  navbar-light navbarbg py-2">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                            <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class=" nav  flex-column">
                                
                                <li class="nav-item">
                                    <a   class="nav-link active font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href="{% url 'submit_review' %}">Submit Review</a>
                                </li>
                                <li class="nav-item">
                                    <a   class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href=" {% url 'cr-seal' %}">Get a CR Seal</a>
                                </li>
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">Featured Companies</a>
                                </li>
                                <li class="nav-item">
                                    <a   class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                
                            </ul>
                        </div>
                        </div>
                    
                    
                    <div class=" formformat  col-md-7 py-2  mx-auto ">
                        <h1 class="h4 font-weight-bold px-2 py-2 text-center"> Complete the Form Below to Enjoy the Full Features of Credible Reviews</h1>
						<p> 
                            <form  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <hr>
								<div class="row">
                                    <div class="col-md-7">
                                        <h5 class="text-danger"> Login Information </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.username.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.username}}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.username.errors }}
                                        </div>
                                     
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-md-4">
                                        {{ form.password1.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.password1 }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.password1.errors }}
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.password2.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.password2 }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.password2.errors }} 
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 class="text-danger"> Personal Information </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.first_name.label}}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.first_name }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.first_name.errors }} 
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.last_name.label}}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.last_name }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.last_name.errors }}
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.email.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.email}}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.email.errors }}
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.phone.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ profile_form.phone}}
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.profile_picture.label }}
                                    </div>
                                    
                                    <div class="col-md-8">
                                        {{ profile_form.profile_picture}}
                                    </div>
      
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.location.label}}
                                    </div>
                                    <div class="col-md-8">
                                        {{ profile_form.location}}
                                    </div>
                                    
                                </div>
                                <hr>
								
								<div class="form-row mb-4">
									<div class="col-md ">
										<div class="form-group form-check">
											<input type="checkbox" class="form-check-input" id="agreeTerms" required>
											<label class="form-check-label" for="agreeTerms"><a href="{% url 'privacy-terms' %}" target="_blank">Accept Our Privacy Statement</a></label>
										</div>
									</div>
						
								</div>
                                <input class="btn btn-outline-primary" type="submit" value="Submit Registration Form">
                                <hr>
                            </form>
                        </p>
                    </div>
                <div class="col-md-3 py-2">
                    <h2 class="h5 px-2 py-2 text-center bg-primary text-white">Advertise here... Get noticed!</h2>
						<p class="text-wrap">Welcome to Credible Reviews Adverts You are here either becasue you have had an unruly experience with a marchant online, a governement agency or have recieved poor service that do not match the description of the provider. You are free to write a review on such marchant and the our community of visitors know about them to avoid having the same experience. At TrustReviews, we do not only review customer experiences but would help you inot digging deeper on propectie business ventures or commitments validating their claims and the credibility of their purpose. You are free to write a review on such marchant and the our community of visitors know about them to avoid having the same experience. </p>                  </div>
                </div>
            </div>
            
        </section>
        {% endblock section %}

        
{% block article %}
        <article class="mt-2 bg-white mx-2">
            
        </article>
        {% endblock article %}

