{% extends 'base.html' %}
{% load crispy_forms_tags %}


            
                        {% block blockslideshow %}
                        <div class="col-md-7 py-2 ">
                        <h1 class="h4 font-weight-bold navbarbg  px-2 py-2 text-center"> Contact Us</h1>
                        <!-- Slideshow container -->
                        <p > 
                            <form class="" action="" method="POST">{% csrf_token %}
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-md-7">
                                        {{ form.company|as_crispy_field }}
                                    </div>
      
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-7">
                                        {{ form.subject|as_crispy_field }}
                                    </div>
                                </div>
                                                                
                                <div class="row justify-content-center">
                                    <div class="col-md-7">
                                        {{ form.review_text|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-7">
                                        {{ form.rating|as_crispy_field }}
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-center">
                                    <div class="col-md-7">
                                        <input class="btn btn-outline-primary" type="submit" value="Send Review">
                                    </div>
                                </div>
    
                                
                                <hr>
                            </form>
                        </p>
                <!-- Slide show ends-->
                </div>
                {% endblock blockslideshow %}
                
  