{% extends 'base.html' %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row">
                    <span class="font-weight-bold px-2 py-1 mx-auto text-danger">...Created with<span class="h3"> &hearts;</span>... Because we understand that behind every review, there is a hearty experience...</span>
                </div>
                <div class="row">
                    <div class="tm-nav navbar-expand-lg col-md-2  navbar-light navbarbg py-2">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                            <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class=" nav  flex-column">
                                
                                <li class="nav-item">
                                    <a   class="nav-link active font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href="{% url 'submit_review' %}">Submit Review</a>
                                </li>
                                <li class="nav-item">
                                    <a   class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href=" {% url 'cr-seal' %}">Get a CR Seal</a>
                                </li>
                                <li class="nav-item">
                                    <a    class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">Featured Companies</a>
                                </li>
                                <li class="nav-item">
                                    <a   class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                
                            </ul>
                        </div>
                        </div>
                    
                  
                    <div class="col-md-7 py-2 ">
                        <h1 class="h4 font-weight-bold navbarbg px-2 py-2 text-center"> About Us </h1>
                        <!-- Slideshow container -->
                        <p class="text-wrap mx-2">   <p class="bg-info text-white px-2 py-2"> Credible Reviews is a social network for companies, businesses and customers across Nigeria. It does not only provide online presence for businesses and services in Nigeria but also provides an efficient and effective way for customers to evaluate products and services and record their experiences online for a wider audience to see. We believe that real experience whether good or bad is worth telling to guide other customers in their dealings with same company or business. 
                                                </p>
                                                <p class="px-2 py-2"> A typical advantage is the ability of companies to respond to reviews and be able to view the general statistics of their company to enable them to evaluate their overall performance, popularity and customer service. With thousands of visitors per day customers and users are rest assured that their reviews are seen by millions hence compelling these businesses to respond to them and ensure their reputation is intact. 
                                                </p>
                                                <p class="bg-info text-white px-2 py-2"> Through our blog, we also provide current information on products and services in Nigeria including start-up and security breaches and tips for online safety with respect to payments and transactions.<br>
                                                Our forum is free for all registered members. The forum provide a customer service-like platform for businesses and their customers to discuss products and services enabling companies carve a better future for themselves through customer responses and views and improving customer fulfillment. 
                                                </p>
 
                        </p>
                <!-- Slide show ends-->
                </div>
                <div class="col-md-3 py-2">
                    <h2 class="h5 px-2 py-2 text-center navbarbg">Advertise here... Get noticed!</h2>
						<p class="text-wrap">Welcome to Credible Reviews Adverts You are here either becasue you have had an unruly experience with a marchant online, a governement agency or have recieved poor service that do not match the description of the provider. You are free to write a review on such marchant and the our community of visitors know about them to avoid having the same experience. At TrustReviews, we do not only review customer experiences but would help you inot digging deeper on propectie business ventures or commitments validating their claims and the credibility of their purpose. We do all these at no charge because we care about your safetyYou are here either becasue you have had an unruly experience with a marchant online, a governement agency or have recieved poor service that do not match the description of the provider.</p>                  
                </div>
            </div>
            
        </section>
        {% endblock section %}