{% extends 'base.html' %}


            
                        {% block blockslideshow %}
                        <div class="col-md-7 py-2 ">
                        <h1 class="h4 font-weight-bold navbarbg  px-2 py-2 text-center"> About Us</h1>
                        <!-- Slideshow container -->
                        <p class="text-wrap mx-2">   <p class="abouttextbag px-2 py-2"> Credible Reviews is a social network for companies, businesses and customers across Nigeria. It does not only provide online presence for businesses and services in Nigeria but also provides an efficient and effective way for customers to evaluate products and services and record their experiences online for a wider audience to see. We believe that real experience whether good or bad is worth telling to guide other customers in their dealings with same company or business. 
                                                </p>
                                                <hr>
                                                <p class="px-2 py-2"> A typical advantage is the ability of companies to respond to reviews and be able to view the general statistics of their company to enable them to evaluate their overall performance, popularity and rate customer service. With thousands of visitors per day customers and users are rest assured that their reviews are seen by millions hence compelling these businesses to respond to them and ensure their reputation is intact. 
                                                </p>
                                                <hr>
                                                <p class="abouttextbag px-2 py-2"> Our Site also provides business, companies and service providers an online presence. These businesses are able to sign-up for free on our site, design their own page and immediately start recieving reviews and provate messages from their cutomers.
                                                This feature would enable small and medium scale business to have an active online page without the need for an expensive website.
                                                </p>
                                                <hr>
                                                <p class="px-2 py-2"> Through our blog, we also provide current information on products and services in Nigeria including start-up and security breaches and tips for online safety with respect to payments and transactions.<br>
                                                Our forum is free for all registered members. The forum provide a customer service-like platform for businesses and their customers to discuss products and services enabling companies carve a better future for themselves through customer responses and views and improving customer fulfillment. 
                                                </p>
 
                        </p>
                <!-- Slide show ends-->
                </div>
                {% endblock blockslideshow %}
                
            
