{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .tm-nav li a:hover{
            background-color: #b7d8f7 !important; 
            border-radius: 15px;
            color: black !important;
                            
          }

          .tm-nav li a{
            color: white !important;
            font-weight: 800; 
            
          }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/iconfavs/apple-icon-57x57.png'%}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" type="image/icon" href="{% static '/iconfavs/favicon.ico'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/slideshow.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/slideshowadvert.css'%}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/iconfavs/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/iconfavs/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/iconfavs/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/iconfavs/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/iconfavs/apple-icon-120x120.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/iconfavs/apple-icon-144x144.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/iconfavs/apple-icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/iconfavs/apple-icon-180x180.png'%}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static '/iconfavs/android-icon-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/iconfavs/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/iconfavs/favicon-96x96.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/iconfavs/favicon-16x16.png'%}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="{% static '/iconfavs/manifest.json'%}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/iconfavs/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Credible Reviews | Home</title>
    
</head>
<body class="bg-light">
 {% include "nav_bar.html" %}
    {% block section %}  
    <section class="mt-2 bg-white mx-2">
    {% block filter %}
        
        <div class="container-fluid border-0 text-justify">
            
            <div class="row">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <span style="color: rgb(179, 33, 11); font-style: oblique; font-size: 20px;" class="font-weight-bold px-2 py-1 mx-auto">{{ message }}</span>
                        
                        {% endfor %}
                    </ul>
                {% else %}
                    <span class="font-weight-bold px-2 py-1 mx-auto text-danger">...Created with<span class="h3"> &hearts;</span> because we believe that behind every review, there is a heartfelt experience...</span>
                {% endif %}
                
            </div>
    {% endblock filter %}
            
            <div class="row">
                
                    <div class=" navbarbg borderrounded tm-nav navbar-expand-lg col-md-2  navbar-light py-2">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" nav  flex-column">
                            
                            <li class="nav-item">
                                <a   class="nav-link active font-weight-bold" href=" {% url 'index' %} ">Home </a>
                            </li>
                            <li class="nav-item">
                                <a    class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                            </li>
                            {% if request.user.is_authenticated or not request.user.is_authenticated %}
                            {% if request.user|has_group:"regular" or not request.user|has_group:"company"%}
                            <li class="nav-item">
                                <a    class="nav-link font-weight-bold" href="{% url 'submit_review' %}">Submit Review</a>
                            </li>
                            
                            {% endif %}
                            {% endif %}
                            <li class="nav-item">
                                <a   class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                            </li>
                        
                            <li class="nav-item">
                                <a    class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">Featured Comp.</a>
                            </li>
                            <li class="nav-item">
                                <a   class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    </div>
                
                {% block featuredcomp %}
                {% block blockslideshow %}
                <div class="col-md-7 py-2 ">
                    <h1 class="h4 font-weight-bold navbarbg borderrounded  px-2 py-2 text-center"> Welcome to Credible Reviews</h1>
                    <!-- Slideshow container -->

                    <div class="galleryContainer">
                        <div class="slideShowContainer">
                            <div id="playPause" onclick="playPauseSlides()"></div>
                            <div onclick="plusSlides(-1)" class="nextPrevBtn leftArrow"><span class="arrow arrowLeft"></span></div>
                            <div onclick="plusSlides(1)" class="nextPrevBtn rightArrow"><span class="arrow arrowRight"></span></div>
                            <div class="captionTextHolder"><p class="captionText slideTextFromTop"></p></div>
                            <div class="imageHolder">
                                <img src="/static/slide_images/img_1.jpg"><!-- image resolution should be - 1366X768-->
                                <p class="captionText">lo Welcome to Credible Reviews Adverts You are here either becasue you </p>
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                            </div>
                            <div class="imageHolder">
                                <img src="/static/slide_images/img_2.jpg">
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                            </div>
                            <div class="imageHolder">
                                <img src="/static/slide_images/img_3.jpg">
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                            </div>
                            <div class="imageHolder">
                                <img src="/static/slide_images/img_4.jpg">
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                                <p class="captionText">Welcome to Credible Reviews Adverts You are here either becasue you </p>
                            </div>
                        
                    </div>
                    <div id="dotsContainer"></div>
                </div>
                
            <!-- Slide show ends-->
            </div>
            {% endblock blockslideshow %}
            <div  class="col-md-3 py-2">
                <h2 class="h5 px-2 py-2 text-center borderrounded navbarbg">Advertise here... Get noticed!</h2>
                   <p class="text-wrap">Welcome to Credible Reviews Adverts You are here either becasue you have had an unruly experience with a marchant online, a governement agency or have recieved poor service that do not match the description of the provider. You are free to write a review on such marchant and the our community of visitors know about them to avoid having the same experience. At TrustReviews, we do not only review customer experiences but would help you inot digging deeper on propectie business ventures or commitments validating their claims and the credibility of their purpose. We do all these at no charge because we care about your safetyYou are here either becasue you have had an unruly experience with a marchant online, a governement agency or have recieved poor service that do</p>                
            </div>
        </div>
        {% endblock featuredcomp %}
        
    </section>
    {% endblock section %}
{% block filterdata %}

{% endblock filterdata %} 
    
{% block article %}
    <article  class="mt-2 bg-white mx-2">
        <div class= "row-md  justify-content-center ">
            <h4 class="text-center navbarbgtop borderrounded justify-content-center">Latest Reviews - <span class="h4"> <a class="text-decoration-none" href=" {% url 'browse_review' %}"> Browse Reviews </a> to like and view number of likes... </span> </h4>
        </div>
        
        <div class="container-fluid border-0 text-center justify-content-center">
         
         
            <div  id="tm-review-rating-star" class="row divbgimg">
                {% for review in reviews%}
                    <div  class=" col-md-3 px-2 py-2 text-center">
                        <div   class="col-md  text-wrap">
                            <h6 style="font-size:x-small;" class="font-weight-bold borderrounded navbarbg text-white px-2 py-1"> <img src="{{review.user.userprofile.profile_picture.url}}" alt="profile_pic" width="30" height="30" class="rounded-circle mb-1">  &nbsp; <i style="font-size: large;" class="">
                                {% comment %} The code gets a review. and runs the span tag 
                                as many as there are numbers in the list. Then compares each umber to be less
                                 than or equall to the review value to know how many 
                                 reviews to add the checked class {% endcomment %}
                                {% for item in '12345'|make_list  %} 
                                
                                    <span class="fa fa-star {% if forloop.counter <= review.rating %}checked{% endif %}"></span>
                                {% endfor %}
                            </i><br>
                            {{review.user.first_name }} Reviewed: {{review.company}}</h6>
                            <p><span class="font-weight-bold">{{review.subject}}&nbsp;...</span> <br> {{review.review_text}}  </p>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
              
        <div class="row text-center">
            {% if page.has_next %}
            <div class="col-md-4">
                <a id="next-page" href="{{ request.path }}?page={{page.next_page_number}}">  </a>
            </div>
            {% endif %}
        </div>
        
    </article>
    {% endblock article %}
    {% block bottomdiv %} 
<div class="row">
    <div class="container-fluid mt-2 text-white py-2 bg-secondary">
        <div class="row">
            <div class="col-md-3">
                <ul style="font-size: small; list-style: none; padding: 0 0 0 25px;">
                    <li> <i class="fas fa-phone-square-alt" style="font-size:20px; padding-right: 4px; color:#2196F3"></i></li>
                    <li> <i class="fas fa-envelope" style="font-size:20px; padding-right: 4px; color:#2196F3"></i><a class="font-weight-bold text-white" href="mailto:info@crediblereviews.ng">  info@crediblereviews.ng</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul style="font-size: small; list-style: none; padding: 0 0 0 25px;">
                    <li> 
                        <p class="font-weight-bold">QUICK LINKS</p>
                    </li>
                    <li> 
                        <p><a class="font-weight-bold text-white" href=" {% url 'privacy-terms' %} ">Privacy Statement</a></p>
                    </li>
                    <li> 
                        <p><a class="font-weight-bold text-white" href=" {% url 'disclaimer' %} ">Disclaimer</a></p>
                    </li>
                    <li> 
                        <p><a class="font-weight-bold text-white" href="#">Blog</a></p>
                    </li>
                    <li> 
                        <p><a class="font-weight-bold text-white" href=" {% url 'careers' %}">Careers</a></p>
                    </li>
                </ul>
            </div>
            <div style="font-size: small; list-style: none; padding: 0 0 0 25px;" class="col-md-5">
                <form  action=""><label for="email" > Regular Security Tips: &nbsp;</label><input style="display: inline; text-align: center;"  name="email" type="email" placeholder="---enter your email here---" size="30">&nbsp;<input class="btn btn-sm btn-primary" id="submit-newsletter" type="Submit" value="SEND">
                </form><br>
                <em style="font-size: small;"> Enter your email to receive regular updates, product advice and tips: 
                    <ul style="font-size: small; padding: 0 0 0 25px;">
                        <li> On how to stay safe online.</li>
                        <li> How to identify ilegitimate business</li>
                        <li> Get Informations on predator businesses and fake products</li>
                    </ul>

                </em>

                
            </div>
          </div>
        
    </div>
    
    
    {% endblock bottomdiv %}
</div> 

{% block footer %}
    <footer class="border-top mt-1 text-white bg-secondary">
        
        <div class="container d-flex  justify-content-center py-2">
                &copy; <span id="copyyear">2021</span> &nbsp; | &nbsp; 
                <span style="font-weight: 700;" id="copy"><a class="text-decoration-none text-white" href="{% url 'index' %}" > Credible Reviews </a> &nbsp; | &nbsp; Powered by the Intergrity Project</span> 
        </div>
    </footer> 
{% endblock footer %}  

{% block topbtn %}
<button id="topBtn"><i class="fas fa-arrow-up"></i></button>
{% endblock topbtn %}
 {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/formauth.js"></script> 
    <script type="text/javascript" src="/static/scripts/faq.js"></script> 
    <script src="https://kit.fontawesome.com/47f849ecd1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/scripts/ajax.js"></script> 
    
    {% comment %} <script type="text/javascript" src="/static/scripts/ajaxcompanyname.js"></script>  {% endcomment %}
    <script type="text/javascript" src="/static/scripts/main.js"></script> 
    <script type="text/javascript" src="/static/scripts/slideshow.js"></script>
    <script type="text/javascript" src="/static/scripts/slideshowadvert.js"></script>  
 {% endblock script %}

    <script>
        $(document).ready(function () {
        var company_name = $("#id_company")
        var search_company = $("#search_company")
        var company_div = $("#company_name_div")
        var company_search_return = $("#company_search_return")
        var company_search_return_row = $("#company_search_return_row")
        var generic_review_form = $('#generic_review_form')
        company_search_return_row.hide()
        company_div.hide()
        generic_review_form.hide()
        search_company.attr({
            'autocomplete': 'off',
            'placeholder': 'Type the company name here, select other if your company is not availble...',
            'font-size': 'large',
        })

        search_company.keyup(function () { 
            company_search_return_row.show(600)
            
            $.ajax({
                type: "GET",
                url: "{% url 'submit_review' %}",
                data: {
                    'search_text': search_company.val()
                        },
                dataType: "json",
                success: successdata
            });
            
        });

        function successdata(data, textStatus, jqXHR) {
        
            company_search_return.text(data)
        }
        company_search_return_row.click(function(){
            if(company_search_return.text() != "Other"){
                company_div.show(600)
                text = company_search_return.text()
                company_name.val(text)
            }else{
                $('#review-form').hide()
                generic_review_form.show()
            }
            
        })
});



    </script>

 {% block select_2_script_tag %}       
 {% endblock select_2_script_tag %}

 {% block search_script %}
    <script>
        $(document).ready(function () {
            var search_display = $('#tm-search-display');
            var search_form = $('#tm-search-form');
            var business = $('#business');

            $(window).click(function () { 
                search_display.hide()
                
            });

            business.keyup(function () { 
                search_display.show()
                $.ajax({
                    type: "GET",
                    url: "{% url 'search_business'%}",
                    data: {
                        'search_text': business.val(),
                    },
                    success: searchSuccess,
                    dataType: 'html',

                    })
                });
                
                
            });


            function searchSuccess(data, textStatus, jqXHR) {
                
                $('#response').html(data);
            }
    </script>

 {% endblock search_script %}

</body>
</html>