{% extends 'base.html' %}


            
                        {% block blockslideshow %}
                        <div class="col-md-7 py-2 ">
                        <h1 class="h4 font-weight-bold navbarbg  px-2 py-2 text-center"> Contact Us</h1>
                        <!-- Slideshow container -->
                        <div class="row justify-content-center ">
                            <form  class="navbarbg py-5 px-5 " action="" method="post">{% csrf_token %}

                                    <div class="row">                                
                                        <div class="col-md-5">
                                            <label for="receiver">Full Name:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="full_name" id="full_name">
                                        </div>
                                    </div>
                                    <div class="row">                                
                                        <div class="col-md-5">
                                            <label for="receiver">Your Email:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="email" name="receiver" id="receiver">
                                        </div>
                                    </div>
                                    <div class="row">                                
                                        <div class="col-md-5">
                                            <label for="receiver">Subject:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="subject" id="subject">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="message">Your Message:</label>
                                        </div>
                                        <div class="col-md-7">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <textarea name="message" cols="50" rows="10"  placeholder="Message..." id="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md text-center">
                                            <button class="btn font-weight-bold btn-outline-light" type="submit">Send</button>
                                        </div>
                                        
                                    </div>

                                    
                             
                            </form>
                        </div>
                <!-- Slide show ends-->
                </div>
                {% endblock blockslideshow %}
                
            
