{% extends 'base.html' %}


            
                    {% block blockslideshow %}
                    <div class="col-md-7 py-2 ">
                        <h1 class="h4 borderrounded font-weight-bold navbarbg  px-2 py-2 text-center"> Frequently Asked Questions</h1>
                        <!-- Slideshow container -->
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q1" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a1" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                          over 20 years now. I have been doing this for
                          over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q2" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a2" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                              over 20 years now. I have been doing this for
                              over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q3" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a3" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                              over 20 years now. I have been doing this for
                              over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q4" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a4" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                            over 20 years now. I have been doing this for
                            over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q5" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a5" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                            over 20 years now. I have been doing this for
                            over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q6" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a6" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                            over 20 years now. I have been doing this for
                            over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                                <h4 id="q7" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a7" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                            over 20 years now. I have been doing this for
                            over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q8" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a8" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                                over 20 years now. I have been doing this for
                                over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q9" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a9" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                                over 20 years now. I have been doing this for
                                over 20 years now.
                        </div>
                        <div class="col-md-6 d-flex py-2 ">                   
                            <h4 id="q10" style="font-weight: 600; font-size:large" class="plus"> Tell us about yourself</h4>
                        </div> 
                        <div id="a10" class="answers" style="padding: 20px;"> My name is Emeka Duru I am a software developer. I have been doing this for
                                over 20 years now. I have been doing this for
                                over 20 years now.
                        </div>
                    <!-- Slide show ends-->
                    </div>
                {% endblock blockslideshow %}