{% extends 'base.html' %}


            
                    {% block blockslideshow %}
                    <div class="col-md-7 py-2 ">
                        <h1 class="h4 borderrounded font-weight-bold navbarbg  px-2 py-2 text-center"> Privacy and Policy Statements</h1>
                        <p class="px-2"><a href="{% url 'index' %}">Credible Reviews</a> encourages Nigerian residents/visitors to share their experiences. We mainly operate on an honor system, meaning that we believe people who send in reviews to be published do so with the intention of making other Nigerians aware. We will try our very best to verify the information provided to us, however, we accept no liability for the content posted as these are opinions of our viewers.

                        We also encourage people to rate a business and share their personal experiences via the comments box. Our goal eventually is to have a good number of people talking about a specific review and rating a business, so others don’t have to rely on just one side of a story (but if everyone’s saying the same or similar things about a particular place then chances are that the place is really what it seems).

                        If something doesn’t seem quite right about a specific review, please reach out to us with your concerns. We’d love to hear from you!</p>
                    <!-- Slide show ends-->
                    </div>
                {% endblock blockslideshow %}