{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% include "nav_bar.html" %}

{% block greeting %}                        
    <li class="nav-item" >
        <a class="nav-link font-weight-bold" href="{% url 'contact' %}"><i class="fas fa-envelope" style="font-size:20px; padding-right: 4px; color:#2196F3"></i>Contact Us</a>
    </li>
{% endblock greeting %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row navbarbg justify-content-center" >
                    <nav class="navbar navbar-expand-lg navbar-light bg-white" >
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#tmnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="tmnavbarNav">
                            <ul class="nav bg-light nav-pills ">
                                <li class="nav-item ">
                                <a class="nav-link font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" >
                                <a class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                                
                                </li>
                                                        
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                <li class="nav-item" >
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'cr-seal' %}">Get a CR Seal</a>
                                </li>
                                
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">View Featured Companies</a>
                                </li>
                                                        
                                <li class="nav-item" id="tm-search-pane" >                            
                                    <form class="form-inline  my-2 my-lg-0" >
                                        <input class="form-control mr-sm-2" type="search" placeholder="search for a business..." aria-label="Search">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </li>
                                
                                            
                            </ul>
                        
                        </div>
                </nav>
                </div>
                <div class="row mx-2 mt-2">
                    <div class="col-md-5  mb-2">
                        <div class="card bg-light box-shadow font-weight-bold" style="width: 23rem;">
                            <img src="{{request.user.userprofilecompany.profile_photo.url}}" class="card-img-top" alt="profile picture" height="300px" width="50px">
                            <div class="card-body">
                                
                                <p class="card-text">Username: {{request.user.username}} </br></p>
                                <p class="card-text">Fullname: &nbsp;{{request.user.last_name}},&nbsp;{{request.user.first_name}}</p>
                                <p class="card-text">Designation: &nbsp; {{request.user.userprofilecompany.designation}}</p>
                                <p class="card-text">Email: &nbsp;{{request.user.email}}</p>
                                <p class="card-text">Phone:&nbsp;{{request.user.userprofilecompany.phone}}</p>
                                <p class="card-text">Location: &nbsp;{{request.user.userprofilecompany.location}}</p>
                                <p class="card-text">Claimed: &nbsp;<span id="tm-claimed">{{request.user.userprofilecompany.claimed}}</span>&nbsp;&nbsp;&nbsp;</p>
                                <p class="card-text">Package: &nbsp;{{request.user.userprofilecompany.package}}&nbsp;&nbsp;&nbsp;
                                {% if request.user.userprofilecompany.claimed and request.user.userprofilecompany.package == "Premium" %}
                                <p class="card-text"><button class="tm-request-review btn btn-outline-primary font-weight-bold btn-sm">Send Review Request to a Customer</button></p>
                                <p class="tm-request-review-display card-text">
                                   
                                    <form class="tm-request-review-display" action="{%url 'request_review' %}" method="POST"> {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <div class="col-md">
                                            <input type="email" class="form-control" name="receiver" id="receiver" placeholder="Enter Reviewer's Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md">
                                            <input class="btn btn-primary btn-sm" type="submit" value="Send Request">
                                        </div>
                                    </div>
                                    </form>
                                </p>
                                {% else %}
                                <p class="card-text text-danger">Please <a href="#" class="btn btn-primary btn-sm">Upgrade</a> your package above to send review request, enjoy full features of Credible Reviews, increase your companies popularity and sales. Visit <a class="text-decoration-none font-weight-bold" href="{% url 'how-to-use' %}">How to Use </a> Page to find out more!</p>
                                {% endif %}
                                
                                <a href="{% url 'settings_company' %}" class="btn btn-outline-info btn-sm font-weight-bold">Go to Settings</a></br>
                                <p class="card-text"></p>
                                <a href="{% url 'logoutpage_company' %}" class="btn btn-outline-danger btn-sm font-weight-bold">Logout</a></br>
                            </div>
                         </div>

                    </div>
                    
                    {% for company in companies %}
                        {% if company.user == request.user %}
                    
                    <div class="col-md mb-2">
                        
                        <div class="row">
                            <div class="col-md mb-2">
                                
                                <div class="card text-center box-shadow mb-3" > 
                                    <div class="card-header text-white bg-info">
                                        <h5 class="card-title">Total Reviews</h5>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title">{{ company.review_set.all.count }}</h3>
                                    </div>
                                    
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                    </div>
                                    
                                    <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Show/Hide Reviews and Responses</button>
                                </div>
    
                                
                            </div>
                            
                            <div class="col-md mb-2">
                                
                                    <div class="card box-shadow mb-3" > 
                                        <div class="card-header text-center text-white bg-info">
                                            <h5 class="card-title ">Statistics</h5>
                                        </div>
                                        
                                        <div class="py-2 font-weight-bold px-2">
                                            <p class="card-text"><h6 class=" font-weight-bold">Claimed Company:&nbsp; <span class= "text-primary"><a class="text-decoration-none" href="{% url 'detail' company.company_slug %}" target="_blank"> {{company.company_name}}</a> </span> </h5></p>
                                            <p class="card-text">Average Rating:&nbsp;&nbsp; <i style="visibility: hidden;" id="tm-average_rating">{{company.average_rating}}</i><i>{% for item in "12345"|make_list %}
                                                            <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= company.average_rating %}checked{% endif %}"></span>
                                                            {% endfor %}</i> </p>
                                            <p class="card-text">Remarks: &nbsp;&nbsp;<i id="tm-remarks" class=""></i></p>
                                            
                                            <p class="card-text">Total Views: &nbsp;&nbsp; {{company.company_views}}</p>
                                            <p class="card-text">Popularity: &nbsp;&nbsp;<i id="tm-popularity">Satisfactory</i></p>
                                            
                                            
                                            
                                        </div>
                                        
                                        <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Click to Get Noticed</button>
                                        
                                    </div>                      

                            </div>
                            
                        </div>
                                                
                        <div class="row" id="tm-display-reviews">
                                <div class="col-md mb-2">
                                
                                    <div style="font-size: small; " class="card text-center .box-shadow mb-3"> 
                                        <div class="card-header text-white bg-info">
                                            <h5 class="card-title">Reviews and Responses</h5>
                                        </div>
                                        
                                        <div class="card-body">
                                            {% for review in reviews %}
                                            <div  class=" py-2">
                                                <p class="card-text ">&nbsp; <span class="font-weight-bold">{{review.user | capfirst }}</span> {% for item in "12345"|make_list %}
                                                    <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= review.rating %}checked{% endif %}"></span>
                                                    {% endfor %}  &nbsp; | &nbsp;likes: {{review.likes}} &nbsp; | &nbsp; Date added: <span class="text-danger"> {{ review.date_added }}</span></p>
                                                <p class="card-text">  Review: &nbsp; {{review.review_text}} </p>
                                            
                                            
                                            <!-- check to see if there is a reponse under this review to know whether
                                             to show the button -->
                                            {% for response in review.response_set.all %} 
                                                {% empty %}                                            
                                            <p class="card-text"><a href="{% url 'response' review.id %}"><button id="tm-respond" class="btn btn-outline-primary font-weight-bold btn-sm">respond to this review</button></a></p>
                                                
                                            {% endfor %}
                                           
                                            {% for response in responses%}
                                            {% if response.review == review %}
                                            <p class="card-text bg-light font-italic"> <span class="font-weight-bold"> {{response.review.company | capfirst }}</span> responded: {{response}} on: <span class="text-danger"> {{response.date_added}}</span></p>
                                            <hr>
                                            {% endif %}
                                            {% endfor %}
                                            
                                            {% endfor %}
                                            
                                            </div>
                                                                                                                       
                                        
                                        
                                        
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row text-center">
                                        {% if page.has_previous%}
                                        <div class="col-md-2">
                                        <a  href="{% url 'profile_company' %}?page={{page.previous_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-left"></i> </a>
                                        </div>
                                        {% endif %}
                                        
                                        <div  class="col-md-8 font-weight-bold">
                                        <ul style="list-style-type: none;">
                                            
                                        {% for l in  page.paginator.page_range %}
                                        {% if forloop.counter <= 10 %}
                                        
                                        <li  style="display: inline-block; padding: 0 3px 0 0;"><a style="text-decoration: none;" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        </ul>
                                        </div>
                                        {% if page.has_next %}
                                    
                                        
                                        <div class="col-md-2">
                                            <a href="{% url 'profile_company' %}?page={{page.next_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-right"></i> </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    
                                   
                                </div>
                                
                        
                        </div>
                        
                    </div>
                        
                        {% endif %}
                        
                    {% endfor %}
                    
                    
                    
                    <div id="tm-claimed-detail" class="col-md mb-2">
                        <!-- The problem is here. It seems to rund the code over and over again-->
                          
                        
                        <div class="row">
                            <div class="col-md mb-2">
                                
                                <div class="card text-center  mb-3"> 
                                    <div class="card-header text-white bg-info">
                                        <h5 class="card-title">Total Reviews</h5>
                                    </div>
                                    
                                    {% if company.listed %}
                                    <div class="card-body">
                                        <p class="card-text"> We have received your Listing Request.</p>
                                        <p class="card-text"> Your listing is now being reviewed.</p>
                                        <p class="card-text"> It will be displayed on this page once approval is given.</p>
                                        <p class="card-text"> Your listing will equally be available site wide.</p>
                                        <p class="card-text"> If this process take unusual time, kindly email us on:</p>
                                        <p class="card-text"> <a href="mailto:info@crediblereviews.ng">info@crediblereviews.ng</a></p>
                                    </div>
                                    <button class=" cursornormal btn btn-info font-weight-bold btn-sm">Your Company is Awaiting Approval</button>
                                    {% else %}
                                    <div class="card-body">
                                        <p class="card-text"> You have not claimed a company yet.</p>
                                        <p class="card-text"> You need to claim a company to view its statistis here.</p>
                                        <p class="card-text"> You need to have your company listed to claim it.</p>
                                        <p class="card-text"> If your company is already listed on our site, kindly email us on:</p>
                                        <p class="card-text"> <a href="mailto:info@crediblereviews.ng">info@crediblereviews.ng</a></p>
                                    </div>
                                    <button class="btn btn-info font-weight-bold btn-sm" id="list_company_button">Click to List Your Company</button>
                                    {% endif %}
                                    
                                    
                                    
                                    
                                    
                                    
                                   
                                </div>
    
                                
                            </div>
                            
                            <div class="col-md mb-2">
                                
                                    <div class="card  mb-3" > 
                                        <div class="card-header text-center text-white bg-info">
                                            <h5 class="card-title ">Statistics</h5>
                                        </div>
                                        
                                    {% if company.listed %}
                                    <div class="py-2 font-weight-bold px-2">
                                        <p class="card-text">Average Rating:&nbsp; | &nbsp; <i id="tm-average_rating">{{infor}}</i> </p>
                                        <p class="card-text">Remarks: &nbsp; | &nbsp;<i id="tm-remarks" class="">{{infor}}</i></p>
                                        <p class="card-text">Total Likes: &nbsp; | &nbsp; {{infor}}</p>
                                        <p class="card-text">Total Dislikes: &nbsp; | &nbsp; {{infor}}</p>
                                        <p class="card-text">Average Rating:&nbsp; | &nbsp; {{infor}} </p>
                                        <p class="card-text">Remarks: &nbsp; | &nbsp;{{infor}}</p>
                                        <p class="card-text">Total Views: &nbsp; | &nbsp; {{infor}}</p>
                                        
                                        <p class="card-text"><h6 class=" text-warning font-weight-bold"> <span style="font-size: small;" class= "text-info"> Awaiting approval. Your statistic would appear here once approved </span> </h5></p>
                                        
                                    </div>
                                    
                                    {% else %}
                                    <div class="py-2 font-weight-bold px-2">
                                        <p class="card-text">Average Rating:&nbsp; | &nbsp; <i id="tm-average_rating">{{infor}}</i> </p>
                                        <p class="card-text">Remarks: &nbsp; | &nbsp;<i id="tm-remarks" class="">{{infor}}</i></p>
                                        <p class="card-text">Total Likes: &nbsp; | &nbsp; {{infor}}</p>
                                        <p class="card-text">Total Dislikes: &nbsp; | &nbsp; {{infor}}</p>
                                        <p class="card-text">Average Rating:&nbsp; | &nbsp; {{infor}} </p>
                                        <p class="card-text">Remarks: &nbsp; | &nbsp;{{infor}}</p>
                                        <p class="card-text">Total Views: &nbsp; | &nbsp; {{infor}}</p>
                                        
                                        <p class="card-text"><h6 class=" text-warning font-weight-bold">{{info}}:&nbsp; <span style="font-size: small;" class= "text-info"> Email us to claim a company </span> </h5></p>
                                        
                                    </div>
                                    
                                    {% endif %}
                                        
                                        <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Click to Get Noticed</button>
                                        
                                    </div>                      

                            </div>
                            
                        </div>
                        
                        <!---->
                    <div id="list_company_display" class="row navbarbg px-2 py-2 justify-content-center"> 
                        <h4> Complete the Form Below to List your Company for Free</h4>

                        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
                            <hr>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.company_name|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.company_logo|as_crispy_field }}
                                    </div>
                                    
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.company_phone|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.company_email|as_crispy_field }}
                                    </div>
      
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.company_website|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.company_state|as_crispy_field }}
                                    </div>
      
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.sample_pics_one|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.sample_pics_two|as_crispy_field }}
                                    </div>
      
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.sample_pics_three|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.sample_pics_four|as_crispy_field }}
                                    </div>
      
                                </div>
                                
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.company_address|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.company_description|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        {{ form.company_sector|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.package_chosen|as_crispy_field }}
                                    </div>
      
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md text-center">
                                        <input class="btn btn-outline-light font-weight-bold" type="submit" value="Submit Company for Listing">
                                    </div>
                                </div>
    
                                
                                <hr>
                        </form>
                            
                            
                
                        
                    </div>
                    </div>
                
                    
                </div>
                
            </div>
            
            
        </section>
        {% endblock section %}
        {% block article %}
        
        {% endblock article %}
        