{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% include "nav_bar.html" %}

{% block greeting %}                        
    <li class="nav-item" >
        <a class="nav-link font-weight-bold" href="{% url 'contact' %}"><i class="fas fa-envelope" style="font-size:20px; padding-right: 4px; color:#2196F3"></i>Contact Us</a>
    </li>
{% endblock greeting %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row navbarbg justify-content-center" >
                    <nav class="navbar navbar-expand-lg navbar-light bg-white" >
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#tmnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="tmnavbarNav">
                            <ul class="nav bg-light nav-pills ">
                                <li class="nav-item ">
                                <a class="nav-link font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" >
                                <a class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                                
                                </li>
                                                        
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                <li class="nav-item" >
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'cr-seal' %}">API Coming Soon</a>
                                </li>
                                
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">View Featured Companies</a>
                                </li>
                                                        
                                <li class="nav-item" id="tm-search-pane" >                            
                                    <form class="form-inline  my-2 my-lg-0" >
                                        <input class="form-control mr-sm-2" type="search" placeholder="search for a business..." aria-label="Search">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </li>
                                
                                            
                            </ul>
                        
                        </div>
                </nav>
                </div>
                <div class="row mx-2 mt-2">
                    <div class="col-md-5  mb-2">
                        <div class="card bg-light box-shadow font-weight-bold" style="width: 23rem;">
                            <img src="{{request.user.userprofilecompany.profile_photo.url}}" class="card-img-top" alt="profile picture" height="300px" width="50px">
                            <div class="card-body">
                                
                                <p class="card-text">Username: {{request.user.username}} </br></p>
                                <p class="card-text">Fullname: &nbsp;{{request.user.last_name}},&nbsp;{{request.user.first_name}}</p>
                                <p class="card-text">Designation: &nbsp; {{request.user.userprofilecompany.designation}}</p>
                                <p class="card-text">Email: &nbsp;{{request.user.email}}</p>
                                <p class="card-text">Phone:&nbsp;{{request.user.userprofilecompany.phone}}</p>
                                <p class="card-text">Location: &nbsp;{{request.user.userprofilecompany.location}}</p>
                                <p class="card-text">Claimed: &nbsp;<span id="tm-claimed">{{request.user.userprofilecompany.claimed}}</span>&nbsp;&nbsp;&nbsp;</p>
                                <p class="card-text">Package: &nbsp;{{company.package_chosen}}&nbsp;&nbsp;&nbsp;
                                {% if request.user.userprofilecompany.claimed and company.package_chosen == "Premium" %}
                                <p class="card-text"><button class="btn btn-outline-primary font-weight-bold btn-sm">Get our API for your buiness</button></p>
                                <p class="card-text"><button class="tm-request-review btn btn-outline-primary font-weight-bold btn-sm">Send Review Request to a Customer</button></p>
                                <p class="tm-request-review-display card-text">
                                   
                                    <form class="tm-request-review-display" action="{%url 'request_review' %}" method="POST"> {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <div class="col-md">
                                            <input type="email" class="form-control" name="receiver" id="receiver" placeholder="Enter Reviewer's Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md">
                                            <input class="btn btn-primary btn-sm" type="submit" value="Send Request">
                                        </div>
                                    </div>
                                    </form>
                                </p>
                                {% else %}
                                <p class="card-text text-danger">Please <a href="#" class="btn btn-primary btn-sm">Upgrade</a> your package above to send review request, enjoy full features of Credible Reviews, increase your companies popularity and sales. Visit <a class="text-decoration-none font-weight-bold" href="{% url 'how-to-use' %}">How to Use </a> Page to find out more!</p>
                                {% endif %}
                                
                                <a href="{% url 'settings_company' %}" class="btn btn-outline-info btn-sm font-weight-bold">Go to Settings</a></br>
                                <p class="card-text"></p>
                                <a href="{% url 'logoutpage_company' %}" class="btn btn-outline-danger btn-sm font-weight-bold">Logout</a></br>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="row messagebarbg pt-2">
                            <div class="col-md-4 text-left ">
                                <h5 class="card-title"> Messages - <span class="justify-content-right numberbg"> {{total_messages}} </span> </h5>
                            </div>
                            
                            <div class="col-md-4 ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm_show_mesages">Show/Hide Your Messages</button> </h5>
                            </div>
                            
                            <div class="col-md-4 text-right ">
                                <h5 class="card-title"> <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Show/Hide Your Reviews</button> </h5>
                            </div>
                            
                        </div>
                        
                        {% if company.approved == True  %}
                        
                            <div class="row-md mt-2 text-center text-white bg-info">
                                <h5 class="">Statistics</h5>
                            </div>
                            <div class="row bg-light pt-2">
                                

                                
                                    <div class="col-md-6 ">
                                        <p class="card-text"> <i class=" font-weight-bold"> Total Reviews </i> - <span class="justify-content-right numberbg"> {{ company.review_set.all.count }} </span> </p>
                                        <p class="card-text"><i class=" font-weight-bold"> Total Views: </i> &nbsp;&nbsp; <span class="justify-content-right numberbg">{{company.company_views}}</span></p>
                                        <p class="card-text"><span class=" font-weight-bold">Popularity: &nbsp;&nbsp;<i id="tm-popularity">Satisfactory</i></span></p>
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <p class="card-text"><i class=" font-weight-bold">Claimed Company:&nbsp; <span class= "text-primary"><a class="text-decoration-none" href="{% url 'detail' company.company_slug %}" target="_blank"> {{company.company_name}}</a> </span> </i></p>
                                        <p class="card-text"><i class=" font-weight-bold">Average Rating:</i>&nbsp;&nbsp; <i style="visibility: hidden;" id="tm-average_rating">{{company.average_rating}}</i><i>{% for item in "12345"|make_list %}
                                                        <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= company.average_rating %}checked{% endif %}"></span>
                                                        {% endfor %}</i> </p>
                                        <p class="card-text"><i class=" font-weight-bold">Remarks: </i>&nbsp;&nbsp;<i id="tm-remarks" class=""></i></p>
                                        <p class="card-text"> <button class="btn btn-info font-weight-bold btn-sm" id="tm-reviews">Click to Get Noticed</button> </p>
                                        
                                    </div>
                                
                                
                            </div>
                            {% elif company.approved == False and company.listed == True %}
                            <div class="row-md mt-2 text-center">
                                <h5 class="text-white bg-success">We are currently reviewing the Company you listed</h5>
                                <p class="card-text"> Email: <a href="mailto:info@crediblereviews.ng">info@crediblereviews.ng</a>&nbsp; or &nbsp;<button class="btn btn-info font-weight-bold btn-sm" id="list_company_button">Click to List Your Company</button></p>
                            </div>
                            {% else %}
                            <div class="row-md mt-2 text-center">
                                <h5 class="text-danger">There is no company associated with this account</h5>
                                <p class="card-text"> Email: <a href="mailto:info@crediblereviews.ng">info@crediblereviews.ng</a>&nbsp; or &nbsp;<button class="btn btn-info font-weight-bold btn-sm" id="list_company_button">Click to List Your Company</button></p>
                            </div>
                            <div class="row bg-light pt-2">
                                <div id="list_company_display" class="row navbarbg px-2 py-2 justify-content-center"> 
                                    <h4> Complete the Form Below to List your Company for Free</h4>
            
                                    <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
                                        <hr>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.company_name|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.company_logo|as_crispy_field }}
                                                </div>
                                                
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.company_phone|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.company_email|as_crispy_field }}
                                                </div>
                  
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.company_website|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.company_state|as_crispy_field }}
                                                </div>
                  
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.sample_pics_one|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.sample_pics_two|as_crispy_field }}
                                                </div>
                  
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.sample_pics_three|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.sample_pics_four|as_crispy_field }}
                                                </div>
                  
                                            </div>
                                            
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.company_address|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.company_description|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    {{ form.company_sector|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.package_chosen|as_crispy_field }}
                                                </div>
                  
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md text-center">
                                                    <input class="btn btn-outline-light font-weight-bold" type="submit" value="Submit Company for Listing">
                                                </div>
                                            </div>
                
                                            
                                            <hr>
                                    </form>
                                        
                                                                     
                                </div>
            
                            </div>
                        {% endif %}
                        
                        <div class="row-md mt-2 ">
                                
                            <div class=" box-shadow  mb-3"> 
                                <div  class=" text-white text-center bg-info">
                                    <h5 class="card-title">Your Private Messages </h5>
                                </div>
                                <div id="user_message_div" class="scrollable-div-comp card-body">
                                    {% for message in messages %}
                                        
                                        <div class="row-md">
                                            
                                            <p class="row-md"><span class="font-weight-bold">{{message.sender}} &nbsp;-&nbsp; </span><span class="text-left">{{message.subject}} <span class="sentbg"> received <span class="font-weight-small text-danger"> {{message.date_sent}} </span></span></span>  <br> 
                                            {{message.message}}
                                            </p>
                                            {% for reply in replies %}
                                                    {% if reply.message == message %}
                                                        <p class="row-md text-right receivedmsgpadding "><span class="justify-content-right">{{reply.reply}} <br> <span class="sentbg"> sent <span class=" text-danger"> {{reply.date_sent}} </span> </span></span>  <br> 
                                                            
                                                        </p>
                                                    {% endif %}
                                                {% endfor %}
                                                <p class="card-text">
                                                    <a href="{%url 'reply_message' message.id %}">reply </a> 
                                                </p>
                                                <hr>
                                            
                                        </div>
                                        {% empty %}
                                        <div class="row-md">
                                            
                                            <p> No message yet </p>
                                            
                                            
                                        </div> 
                                    {% endfor %}
                                    <hr>
                                </div>
                                
                                
                            </div>
                            
                            
                            
                        </div>
                    {% if reviews %}
                    <div class="row-md mt-2 scrollable-div-comp" id="tm-display-reviews">
                        <div class=" box-shadow  mb-3">
                            <div class="text-white text-center bg-info">
                                <h5 class="card-title">Reviews and Responses</h5>
                            </div>
                            
                            <div class="card-body">
                                {% for review in reviews %}
                                <div  class=" py-2">
                                    <p class="card-text ">&nbsp; <span class="font-weight-bold">{{review.user | capfirst }}</span> {% for item in "12345"|make_list %}
                                        <span style="font-size: large;" class="fa fa-star {% if forloop.counter <= review.rating %}checked{% endif %}"></span>
                                        {% endfor %}  &nbsp; | &nbsp;likes: {{review.likes}} &nbsp; | &nbsp; Date added: <span class="text-danger"> {{ review.date_added }}</span></p>
                                    <p class="card-text">  Review: &nbsp; {{review.review_text}} </p>
                                
                                
                                <!-- check to see if there is a reponse under this review to know whether
                                 to show the button -->
                                {% for response in review.response_set.all %} 
                                    {% empty %}                                            
                                <p class="card-text"><a href="{% url 'response' review.id %}"><span id="tm-respond" class="text-primary">respond to this review</span></a></p>
                                    
                                {% endfor %}
                               
                                {% for response in responses%}
                                {% if response.review == review %}
                                <p class="card-text bg-light font-italic"> <span class="font-weight-bold"> {{response.review.company | capfirst }}</span> responded: {{response}} on: <span class="text-danger"> {{response.date_added}}</span></p>
                                <hr>
                                {% endif %}
                                {% endfor %}
                                
                                {% endfor %}
                                
                                </div>
                                                                                                           
                            
                            
                            
                            </div>
                        </div>
                        <hr>
                        <div class="row text-center">
                            {% if page.has_previous%}
                            <div class="col-md-2">
                            <a  href="{% url 'profile_company' %}?page={{page.previous_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-left"></i> </a>
                            </div>
                            {% endif %}
                            
                            <div  class="col-md-8 font-weight-bold">
                            <ul style="list-style-type: none;">
                                
                            {% for l in  page.paginator.page_range %}
                            {% if forloop.counter <= 10 %}
                            
                            <li  style="display: inline-block; padding: 0 3px 0 0;"><a style="text-decoration: none;" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                            </div>
                            {% if page.has_next %}
                        
                            
                            <div class="col-md-2">
                                <a href="{% url 'profile_company' %}?page={{page.next_page_number}}"> <i style="font-size: xx-large;" class="fas fa-angle-double-right"></i> </a>
                            </div>
                            {% endif %}
                        </div>
                        </div>
                        
                    </div>
                    {% else %}
                    <div class=" box-shadow  mb-3">
                        <div class="text-white text-center bg-info">
                            <h5 class="card-title">No Reviews and Responses Available </h5>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                    
            
            
        </section>
        {% endblock section %}
        {% block article %}
        
        {% endblock article %}
        