{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% include "nav_bar.html" %}

{% block greeting %}                        
    <li class="nav-item" >
        <a class="nav-link font-weight-bold" href="{% url 'contact' %}"><i class="fas fa-envelope" style="font-size:20px; padding-right: 4px; color:#2196F3"></i>Contact Us</a>
    </li>
{% endblock greeting %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row navbarbg justify-content-center" >
                    <nav class="navbar navbar-expand-lg navbar-light bg-white" >
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#tmnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="tmnavbarNav">
                            <ul class="nav bg-light nav-pills ">
                                <li class="nav-item ">
                                <a class="nav-link font-weight-bold" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" >
                                <a class="nav-link font-weight-bold" href=" {% url 'about' %} ">About Us</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'browse_review' %} ">Browse Review</a>
                                
                                </li>
                                                        
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'faq' %}">FAQ</a>
                                </li>
                                <li class="nav-item" >
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'cr-seal' %}">API Coming Soon</a>
                                </li>
                                
                                <li class="nav-item" >
                                    <a class="nav-link font-weight-bold" href=" {% url 'featured-companies' %}">View Featured Companies</a>
                                </li>
                                                        
                                <li class="nav-item" id="tm-search-pane" >                            
                                    <form class="form-inline  my-2 my-lg-0" >
                                        <input class="form-control mr-sm-2" type="search" placeholder="search for a business..." aria-label="Search">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </li>
                                
                                            
                            </ul>
                        
                        </div>
                </nav>
                </div>
                <div class="row mx-2 mt-2">
                    <div class="col-md-5  mb-2">
                        <div class="card bg-light box-shadow font-weight-bold" style="width: 23rem;">
                            <img src="{{request.user.userprofilecompany.profile_photo.url}}" class="card-img-top" alt="profile picture" height="300px" width="50px">
                            <div class="card-body">
                                
                                <p class="card-text">Username: {{request.user.username}} </br></p>
                                <p class="card-text">Fullname: &nbsp;{{request.user.last_name}},&nbsp;{{request.user.first_name}}</p>
                                <p class="card-text">Designation: &nbsp; {{request.user.userprofilecompany.designation}}</p>
                                <p class="card-text">Email: &nbsp;{{request.user.email}}</p>
                                <p class="card-text">Phone:&nbsp;{{request.user.userprofilecompany.phone}}</p>
                                <p class="card-text">Location: &nbsp;{{request.user.userprofilecompany.location}}</p>
                                <p class="card-text">Claimed: &nbsp;<span id="tm-claimed">{{request.user.userprofilecompany.claimed}}</span>&nbsp;&nbsp;&nbsp;</p>
                                <p class="card-text">Package: &nbsp;{{company.package_chosen}}&nbsp;&nbsp;&nbsp;
                                {% if request.user.userprofilecompany.claimed and company.package_chosen == "Premium" %}
                                <p class="card-text"><button class="tm-request-review btn btn-outline-primary font-weight-bold btn-sm">Send Review Request to a Customer</button></p>
                                <p class="tm-request-review-display card-text">
                                   
                                    <form class="tm-request-review-display" action="{%url 'request_review' %}" method="POST"> {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <div class="col-md">
                                            <input type="email" class="form-control" name="receiver" id="receiver" placeholder="Enter Reviewer's Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md">
                                            <input class="btn btn-primary btn-sm" type="submit" value="Send Request">
                                        </div>
                                    </div>
                                    </form>
                                </p>
                                {% else %}
                                <p class="card-text text-danger">Please <a href="#" class="btn btn-primary btn-sm">Upgrade</a> your package above to send review request, enjoy full features of Credible Reviews, increase your companies popularity and sales. Visit <a class="text-decoration-none font-weight-bold" href="{% url 'how-to-use' %}">How to Use </a> Page to find out more!</p>
                                {% endif %}
                                
                                <a href="{% url 'settings_company' %}" class="btn btn-outline-info btn-sm font-weight-bold">Go to Settings</a></br>
                                <p class="card-text"></p>
                                <a href="{% url 'logoutpage_company' %}" class="btn btn-outline-danger btn-sm font-weight-bold">Logout</a></br>
                            </div>
                         </div>

                    </div>
                    
                    
                    
                    
                    <div class="col-md-7 mb-2">
                        <div class="row">
                            
                                <div class="col-md mb-2">
                                    
                                        <div id="user_message_div" class="card  box-shadow  mb-3"> 
                                            <div  class="card-header text-white text-center bg-info">
                                                <h5 class="card-title">Send Reply  </h5>
                                            </div>
                                            <div class="card-body text-center">
                                                <form action="" method="POST">{% csrf_token %}
                                                    {{reply_message_form|crispy}}
                                                    <input class="btn btn-sm btn-outline-primary" type="submit" value="Send Message">
                                                </form>
                                                
                                            </div>
                                            <hr>
                                            
                                        </div>
                                    
                                </div>
                                
                            
                        </div>
                        
                        
                
                    
                </div>
                
            </div>
            
            
        </section>
        {% endblock section %}
        {% block article %}
        
        {% endblock article %}
        