{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block section %}  
        <section class="mt-2 bg-white mx-2">
            
            <div class="container-fluid border-0 text-justify">
                <div class="row">
                    <span class="font-weight-bold px-2 py-1 mx-auto text-danger">...Created with<span class="h3"> &hearts;</span> because we believe that behind every review, there is a heartfelt experience...</span>
                </div>
                <div class="row mx-2">
                    <div class="col-md-5 mb-2">
                        <div class="card" style="width: 23rem;">
                                <p class="card-text"></p>
                                    <a href="{% url 'profile_company' %}" class="btn btn-outline-info font-weight-bold">Back to Profile</a>
                                <p class="card-text"></p>
                            <img src="{{request.user.userprofilecompany.profile_photo.url}}" class="card-img-top" alt="Profile Pic" height="300px" width="50px">
                            <div class="card-body">
                                <h5 class="card-title">Fullname: &nbsp;{{request.user.last_name}},&nbsp;{{request.user.first_name}}</h5>
                                <p class="card-text">Username: &nbsp;{{request.user.username}}</br><span style="font-size: 1vw;">this is publicly visible</span></p>
                                <p class="card-text">Email: &nbsp;{{request.user.email}}</p>
                                <p class="card-text">Phone: {{request.user.userprofilecompany.phone}}</p>
                                <p class="card-text">Location: {{request.user.userprofilecompany.location}}</p>
                                <p class="card-text"><a href="{% url 'submit_review' %}" class="btn btn-outline-info">Review a Company</a></p>
                                <a href="{% url 'logoutpage_regular' %}" class="btn btn-outline-info">Logout</a></br>
                            </div>
                        </div>

                        

                    </div>
                    <div class="col-md-7 mb-2">
                        
                            <div class="card text-center  mb-3"> 
                                <div class="card-header text-white bg-info">
                                    <h5 class="card-title">Use the Form Below to Update Your Settings</h5>
                                </div>
                                <div class="card-body form-group">

                                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                            
                                        
                                        <div class="row">
                                            
                                            <div class="col-md form-group">
                                                {{ form.designation|as_crispy_field }}
                                            </div>
                                            
            
                                        </div>
                                        <hr>
                                        
                                        <div class="row">
                                            
                                            <div class="col-md form-group">
                                                {{ form.profile_photo|as_crispy_field }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            
                                            <div class="col-md form-group">
                                                {{ form.location|as_crispy_field }}
                                            </div>
            
                                        </div>
                                        <hr>
                                        <div class="row">
                                            
                                            <div class="col-md form-group">
                                                {{ form.phone|as_crispy_field }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            
                                            <div class="col-md form-group">
                                                {{ form.address|as_crispy_field }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row form-group text-center">
                                            <div class="col-md form-group">
                                                <input type="submit" class="btn btn-info btn-sm font-weight-bold" value="Update Profile">
                                            </div>
                                            
                                        </div>
                                                
                                        
                                    </form>
                                </div>
                                
                                
                            </div>

                        

                    </div>
                    

                </div>

            </div>
             
            
        </section>
        {% endblock section %}
        {% block article %}
        
        {% endblock article %}


        