{% extends 'base.html' %}
{% load crispy_forms_tags %}


            
                        {% block blockslideshow %}
                        <div class=" formformat  col-md-7 py-2  mx-auto ">
                        <h1 class="h4 font-weight-bold px-2 py-2 text-center"> Complete the Form Below to Enjoy the Full Features of Credible Reviews</h1>
						<p> 
                            <form  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <hr class="hrbig borderrounded ">
								<div class="row">
                                    <div class="col-md-7">
                                        <h5 class="text-danger"> Login Information </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.username.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.username}}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.username.errors }}
                                        </div>
                                     
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-md-4">
                                        {{ form.password1.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.password1 }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.password1.errors }}
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.password2.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.password2 }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.password2.errors }} 
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 class="text-danger"> Representative Information </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.first_name.label}}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.first_name }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.first_name.errors }} 
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.last_name.label}}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.last_name }}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.last_name.errors }}
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.email.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.email}}
                                    </div>
                                    <div class="row text-danger">
                                        <div class="col-md-2">
                                            
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.email.errors }}
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.phone.label }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ profile_form.phone}}
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.designation.label }}
                                    </div>
                                    
                                    <div class="col-md-8">
                                        {{ profile_form.designation}}
                                    </div>
      
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.profile_photo.label }}
                                    </div>
                                    
                                    <div class="col-md-8">
                                        {{ profile_form.profile_photo}}
                                    </div>
      
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ profile_form.location.label}}
                                    </div>
                                    <div class="col-md-8">
                                        {{ profile_form.location}}
                                    </div>
                                    
                                </div>
                                <hr>
								
								<div class="form-row mb-4">
									<div class="col-md ">
										<div class="form-group form-check">
											<input type="checkbox" class="form-check-input" id="agreeTerms" required>
											<label class="form-check-label" for="agreeTerms"><a href="{% url 'privacy-terms' %}" target="_blank">Accept Our Privacy Statement</a></label>
										</div>
									</div>
						
								</div>
                                <input class="btn btn-outline-primary" type="submit" value="Submit Registration Form">
                                <hr class="hrbig borderrounded ">
                            </form>
                        </p>
                    </div>
                {% endblock blockslideshow %}
                
            
{% block article %}
    <article class="mt-2 bg-white mx-2">
        
        
    </article>
{% endblock article %}
